/subagtables/nbproject/private/
/judiciaryportal/nbproject/private/
/judiciaryportal/build/
/judiciaryportal/dist/
/bulkvending/nbproject/private/
/bulkvending/build/
/vairtelportal/nbproject/private/
/vairtelportal/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/vairtelportal/dist/
/bulkvending/dist/
/solution/nbproject/private/
/solution/build/
/mongotest/nbproject/private/
/mongotest/build/
/knecsafdlry2/nbproject/private/
/knecsafdlry3/nbproject/private/
/knecsaf3/nbproject/private/
/knecsaf2/nbproject/private/
/knecsaf2/dist/
/knecsaf2/build/
/knecsaf3/build/
/knecsaf3/dist/