/subagtables/nbproject/private/
/judiciaryportal/nbproject/private/
/judiciaryportal/build/
/judiciaryportal/dist/
/bulkvending/nbproject/private/
/bulkvending/build/
/vairtelportal/nbproject/private/
/vairtelportal/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/vairtelportal/dist/
/bulkvending/dist/