<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.pdsl.bulkvend.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Groups</servlet-name>
        <servlet-class>com.pdsl.bulkvend.Groups</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccounts</servlet-name>
        <servlet-class>com.pdsl.bulkvend.ManageAccounts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>com.pdsl.bulkvend.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>com.pdsl.bulkvend.DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendRequest</servlet-name>
        <servlet-class>com.pdsl.bulkvend.VendRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.pdsl.bulkvend.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reports</servlet-name>
        <servlet-class>com.pdsl.bulkvend.Reports</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Groups</servlet-name>
        <url-pattern>/Groups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccounts</servlet-name>
        <url-pattern>/ManageAccounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/DownloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendRequest</servlet-name>
        <url-pattern>/VendRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reports</servlet-name>
        <url-pattern>/Reports</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
