<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.eloans.manager.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.eloans.manager.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveNewBorrower</servlet-name>
        <servlet-class>com.eloans.manager.SaveNewBorrower</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveNewLoan</servlet-name>
        <servlet-class>com.eloans.manager.SaveNewLoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePayLoan</servlet-name>
        <servlet-class>com.eloans.manager.SavePayLoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportExcel</servlet-name>
        <servlet-class>com.eloans.manager.ExportExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportPDF</servlet-name>
        <servlet-class>com.eloans.manager.ExportPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>com.eloans.manager.DownloadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveNewBorrower</servlet-name>
        <url-pattern>/SaveNewBorrower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveNewLoan</servlet-name>
        <url-pattern>/SaveNewLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePayLoan</servlet-name>
        <url-pattern>/SavePayLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportExcel</servlet-name>
        <url-pattern>/ExportExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportPDF</servlet-name>
        <url-pattern>/ExportPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/DownloadFile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
